<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>NTalk - Agenda de contatos</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<script type="text/javascript" src="/javascripts/zepto.min.js"></script>
	</head>
<body>