<% include header %>
<header class="row-fluid text-center">
	<h1>NTalk</h1>
	<h4>Infelizmente essa página nao existe.</h4>
</header>
<hr>
<p>Vamos voltar para a <a href="/">home page?</a></p>
<% include footer %>