<% include ../header %>
<header class="row-fluid text-center">
	<h1>NTalk</h1>
	<h4>Bem-vindo!</h4>
</header>
<section class="row-fluid text-center">
	<form action="/entrar" method="post">
		<input type="hidden" name="_csrf" value="<%- _csrf %>">
		<input type="text" name="usuario[nome]" placeholder="Seu Nome">
		<br>
		<input type="text" name="usuario[email]" placeholder="Seu e-mail">
		<br>
		<button type="submit" class="btn btn-success">Entrar</button>
	</form>
</section>
<% include ../footer %>