<% include ../header %>
<header class="row-fluid text-center">
	<h2>NTalk - Editar contato</h2>
</header>
<section class="row-fluid text-center">
	<form action="/contato/<%- contato._id %>?_method=put" method="post" class="well form-inline">
		<input type="hidden" name="_csrf" value="<%- _csrf %>">
		<label>Nome:</label>
		<input type="text" name="contato[nome]" value="<%- contato.nome %>" class="input-medium">
		<label>Email:</label>
		<input type="text" name="contato[email]" value="<%- contato.email %>" class="input-medium">
		<button type="submit" class="btn btn-primary">Atualizar</button>
	</form>
</section>
<% include ../exit %>
<% include ../footer %>